main {
  display: flex;
  flex-direction: column;
  max-width: 875px;
  margin: auto;
}

#search {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  border: 2px solid rgb(215, 215, 215);
  border-radius: 6px;
  min-width: 30%;
  max-width: fit-content;
  margin: auto;
  padding: 12px 20% 12px 12px;
  color: rgb(91, 91, 91);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  justify-items: center;
  gap: 25px;
  padding-top: 25px;
}

img {
  justify-content: center;
}
